.navigation {
    display: flex;
    align-items: center;
}

.navigation__sep {
    height: 14px;
    width: 1px;
    margin: 0 16px;
    background-color: #000;
}

.navigation__link {
    color: #000;
    text-decoration: none;
    font-size: 18px; 
}